header 
    h1.header__titulo #{titulos[1]}
        span
        span 
    ul.header__nav
        li
            a(href="#") Consolas
            ul 
                li 
                    a(href="#") PlayStation
                    ul 
                        li 
                            a(href="#") PS5
                        li 
                            a(href="#") PS4
                        li 
                            a(href="#") PS3
                        li 
                            a(href="#") PS2
                        li 
                            a(href="#") PS1
                li 
                    a(href="#") Xbox
                    ul 
                        li
                            a(href="#") Xbox 360
                        li
                            a(href="#") Xbox One
                        li
                            a(href="#") XBOX Live
                        li
                            a(href="#") Xbox Pass
        li
            a(href="#") PCS
            ul 
                li 
                    a(href="#") PC Gamer
                li 
                    a(href="#") PC Diesño
                li 
                    a(href="#") PC Ofimática
        li
            a(href="#") Notebooks 
            ul 
                li 
                    a(href="#") HP
                    ul
                        each coso in notebooks
                            li 
                                a(href="#")=coso
                li 
                    a(href="#") DELL
                    ul
                        each coso in notebooks
                            li 
                                a(href="#")=coso
                li 
                    a(href="#") Lenovo
                    ul
                        each coso in notebooks
                            li 
                                a(href="#")=coso
                li 
                    a(href="#") Asus
                    ul
                        each coso in notebooks
                            li 
                                a(href="#")=coso
                li 
                    a(href="#") Apple 
                    ul 
                        li 
                            a(href="#") SmartPhone 
                            ul 
                                li 
                                    a(href="#") iPhone 12
                                    ul 
                                        li 
                                            a(href="#") 12 Pro Max
                                        li 
                                            a(href="#") 12 Pro
                                        li 
                                            a(href="#") 12
                                        li 
                                            a(href="#") 12 mini
                                li 
                                    a(href="#") iPhone 11
                                li 
                                    a(href="#") iPhone X
                        li 
                            a(href="#") Tablet
                        li 
                            a(href="#") Notebook
                        li
                            a(href="#") Accesorios